<div class="modal-header">
    <h1 class="modal-title fs-5" id="cadastrarModalLabel">Cadastrar Cidade</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <form>
        <div class="row">
            <div class="mb-3 col">
                <label for="recipient-name" class="col-form-label">Estado:</label>
                <select class="form-select" id="estados" name="estados">
                    @foreach (var cidade in Model)
                    {
                        <option id="@cidade.id">@cidade.descricaoEstado</option>
                    }
                </select>
            </div>
            <div class="mb-3 col">
                <label for="recipient-name" class="col-form-label">Cidade:</label>
                <input type="text" class="form-control" id="cidade-nome">
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
    <button type="button" class="btn btn-primary" onclick="buttonCreateCidade()">Adicionar</button>
</div>


